* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-geist-sans);
  background: #f8fafc;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

select {
  background: white;
  border: 1px solid #e5e7eb;
}
